/* Remove Items from Print */
header, footer, nav, iframe {
    display: none;
}

/* Make Anchor Tags Black without line */
a {
    text-decoration-line: none;
    color: black;
}

/* Remove Float for Easier Readablilty During Print */
.eightyThird figure {
    float: none;
}

