body {
    max-width: 1148px;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: 100px 50px 50px 300px 100px;
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(41, 41, 216);
}
header {
    grid-row: 1;
    grid-column: 1/4;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: yellow;
}
#appRPS {
    grid-row: 3/5;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: 50px 50px 300px 100px 75px;
    color: yellow;
}
#playerScore {
    grid-row: 1;
    grid-column: 1;
}
#computerScore {
    padding-left: 100px;
    grid-row: 1;
    grid-column: 3;
}
#appRPS #playerStatus{
    grid-row: 2;
    grid-column: 1;
}
#appRPS #computerStatus{
    padding-left: 100px;
    grid-row: 2;
    grid-column: 3;
}
#appRPS .playerPic{
    border-style: solid;
    border-color: black;
    border-width: 10px;
    background-color: white;
    padding: 20px 0px 0px 65px;
    grid-row: 3;
    grid-column: 1;
}
#appRPS .compPic{
    border-style: solid;
    border-color: black;
    border-width: 10px;
    background-color: white;
    padding: 20px 0px 0px 65px;
    grid-row: 3;
    grid-column: 3;
}
#appRPS select {
    height: 50px;
    grid-row: 4;
    grid-column: 2;
    font-size: x-large;
    font-family: 'Press Start 2P', cursive;
}
#appRPS button {
    background-color: yellow;
    background-color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: x-large;
    color: red;
}
#appRPS button:hover {
    background-color: yellow;
}
/* Ready Button */
#appRPS #button1 {
    height: 100%;
    width: 100%;
    grid-row: 3;
    grid-column: 2;
}
/* Back to Bio Button */
#appRPS #button2 {
    grid-row: 5;
    grid-column: 2;
}

