<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissors</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link href="css/rps.css" type="text/css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Rock Paper Scissors Game</h1>
    </header>

    <div id="appRPS">
        <h3 id="playerScore">Score: {{playerScore}}</h3>
        <h3 id="computerScore">Score: {{computerScore}}</h3>
        <p id="playerStatus">Player: {{playerStatus}}</p>
        <p id="computerStatus">Computer: {{compStatus}}</p>

        <div v-if="playerPic === null" class ="playerPic">
            <img src="images/eigthyThreeFws.jpg" alt="playerHand" ><!--default pic-->
        </div>
        <div v-else class ="playerPic">
            <img v-bind:src="playerPic" alt="PlayerPic" id="playerPic"><!--Player Hand-->
        </div>

        <div v-if="compPic === null" class ="compPic">
            <img src="images/eigthyThreeFws.jpg" alt="compHand" ><!--default pic-->
        </div>
        <div v-else class ="compPic">
            <img v-bind:src="compPic" alt="compHand" ><!--Computer Hand-->
        </div>
  
        <select v-model="selected">
            <option disabled value="">Please select one</option>
            <option value="Rock">Rock</option>
            <option value="Paper">Paper</option>
            <option value="Scissors">Scissors</option>
        </select>

        <button v-on:click="buttonClick(selected)">Ready</button>
    </div>
    <script src="js/rps.js"></script>
</body>
</html>